#todo_head {
    text-align: center;
    color : #ffcdd2;
    background-color: #000000;
    padding: 10px;
}

.floatRight{
    float: right;
}
body{
    background-color: #ffebee;
}
.newItem{
    background-color: #ffcdd2;
    font-size: 20px;
}
.inputTbox{

    padding-right: 200px;
    padding-left: 200px;
    margin-left: 50px;
    margin-top: 50px;

}
#newTodo{
    padding-top: 60px;
    padding-right: 200px;
    padding-left: 200px;
}
.breathVertical {
    margin-top: 10px;
    margin-bottom: 10px;

}

.breathHorizontal {
    margin-left: 50px;
    margin-right: 15px;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

div.todoStatusACTIVE {
    color: blue;
}

div.todoStatusCOMPLETE {
    color: green;
    text-decoration: line-through;
}
